* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
html,
body {
    width: 100%;
    height: 100%;
    background-color: #e5e7df;
    scrollbar-width: none;
}
nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 20px;
    position: fixed;
    top: 0;
    width: 98%;
    z-index: 1000;
}
nav>h1 {
    font-size: 28px;
}
nav>ul {
    list-style: none;
    font-size: 23px;
    font-weight: 600;
    display: flex;
    gap: 25px;
}
nav>ul>li {
    border-bottom: 1px solid transparent;
    transition: 0.24s linear;
    &:hover {
        border-bottom: 1px solid black;
        cursor: pointer;
    }
}
main {
    display: flex;
    margin-top: 90px;
    /* margin-bottom: 0; */
    width: 100%;
}
main>.right {
    width: 60%;
}
main>.left {
    width: 40%;
}
.right>.right-contnet {
    width: 95%;
    margin-left: 50px;
}
.right-contnet>h1 {
    font-size: 30px;
    font-weight: 900;
}
.left>.left-content {
    width: 70%;
    padding: 20px;
}
.left-content>p {
    font-size: 22px;
    font-weight: 420;
}
.left-content>button {
    all: unset;
    margin-top: 50px;
    border-bottom: 1px solid black;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 10px;
}
.slider {
    display: flex;
    font-size: 280px;
    font-weight: 900;
    overflow-x: hidden;
    animation: slider 2s infinite ;
}

@keyframes slider {
    to{
        transform: translateX(0);
    }
    from{
        transform: translateX(-100);
    }
    
}
.Cokkies {
    background-color: white;
    display: flex;
    width: 400px;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 40px;
    text-align: center;
    align-content: center;
    align-items: center;
    position: fixed;
    top: 630px;
    left: 1100px;
    border-radius: 10px;
}
.Cokkies>h1 {
    font-size: 20px;
    font-weight: 400;
}
.Accepct{
    cursor: pointer;
}
.page3>.page3-content{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 80vw;
    margin: 20px 30px;
    font-size: 26px;
    margin-bottom: 100px;
    color: rgb(30, 30, 30);
}
.page3>.page3-content>h1{
    font-weight: 500;
    word-spacing: 0;
    font-family: "DM Serif Text", serif;
}
.page3 hr{
    height: 2px;
    width: 95vw;
    margin: auto;
    background-color: #cdcfc7
}
.page4{
    display: flex;
    margin-top: 20px;
    margin-bottom: 200px;
}
.page4>div{
    padding: 10px 20px;
}
.page4>.page4-child-1{
    width: 50vw;
}
.page4>.page4-child-1> h1{
    font-weight: 500;
    font-size: 25px;
}
.page4-child-2{
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 60px;
    color: #282827;
}
.page4-child-2>div{
    width: 79%;
    padding: 0px 10px;
}
.page4-child-2>div p{
    font-size: 25px;
    color: #a7a8a3;
}
.page4-child-2>div h2{
    font-weight: 400;
}
.page4>.page4-child-3{
    width: 10vw;
    font-size: 14px;
}

